
.mainContainer{
    width: 100%;
    height: 100vh;
    display: flex;
}
.container{
    display: flex;
}

.dashboard{
    padding-left: 10%;
    display: flex;
    width: 80%;
    background-color: white;

}

.dashboardContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.dashboardColumn{
    margin-bottom: 15%;
    height: 25%;
    width: 22%;
    color: white;    
    background-color: #0093E9;;
    border-radius: 5px 5px 5px 5px;
}

.text1 p{
    color: white !important;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 74px;
    text-align: center;
    margin-top: 6%;
}

.text2 p{
    color: white;
    line-height: 1.7em;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-top: -24%;
}