
.heading{
    display: flex;
    justify-content: space-between;
}

.heading input{
    height: 40px;
    width: 45%;
}

.formBody{
    display: flex;
    flex-direction: column;
}

.container h4{
    font-size: 26px;
}

.formBody input{
    width: 100%;
    margin-top: 2%;
    padding: 0;
    border:1px solid black;

}

.formBody input::placeholder{
    padding: 2%;
}

.heading input{
    overflow: hidden;
    border-color: #FFFFFF;
    border: 1px solid black;
    width: 40%;
    padding: 1%;
}

.heading input::placeholder{
    padding: 2%;
}



.heading textarea{
    overflow: hidden;
    border-color: #FFFFFF;
    border: 1px solid black;
}

.heading input{
    /* padding: 1%; */
    font-family: 'Montserrat',sans-serif;
}

.formBody input{
    margin-top: 4%;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}

.formTextArea{
    height: 80px;
    padding: 1%;
    overflow: hidden;
    background-color: white;
    margin-top: 4%;
    font-family: 'Montserrat',sans-serif;
    border: 1px solid black;
}
.formEmail{
    height: 40px;
    padding: 1%;
}
.formContainer{
    position: relative;
}
.formButton{
    position: absolute;
    bottom: -20%;
    right: 2%;
}

.formButton{
    background-color: #0477bf;
    padding: 10px 30px ;
    border-radius: 5px;
    border: none;
    color:#fff;
    font-size: 1rem;
    transition: .5s;
    border: 2px solid #0477bf;
    cursor: pointer;
}
.formButton:hover{
    background-color: #fff;
    color: #0477bf;
}

.choice{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.choice select{

    padding: 3%;
    font-family: 'Montserrat';
    border: 1px solid black;

}

.mainContainer{
    height: 100%;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}