
.container{
    height: 100vh;
    background-color: #f4f7fc;
}
.container p{
    font-weight: 600;
    text-align: center;
    padding-top: 4%;
}

.container h2{
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color:#000000de;
    width: 70%;
    margin: 0;
    margin: auto;
}

.feedbackContainer{
    max-width: 1750px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 5%;

}

.feedback{

    width: 29%;
    height: 95%;
    background-color: white;
    border-radius: 5px 5px 5px;
}

.feedbackImage{
    position: relative;
    width: 80%;
    margin: auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Image{
    width: 80%;
    margin: auto;
    margin-top: 10%;
}


.feedback p{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.feedback a{
    color: #0477bf !important;
    border-width: 0px !important;
    border-radius: 0px;
    font-weight: 600 !important;
    padding-right: 2em !important;
    background-color: RGBA(255,255,255,0);
}

.feedbackImage img{
    width: 35%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.feedbackImage h2{
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0;
}