
.container{
    background-color: white;
    padding-top: 5%;
    height: 150px;
    
}
.subContainer{
    justify-content: space-between;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.left ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
}
.right ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
}


.left li{
    text-decoration: none;
}
.left a{
    text-decoration: none;
    color: #6c757d!important;
    font-size: 14px;

}
.right a{
    text-decoration: none;
    color:#6c757d!important;

}
.right li{
    text-decoration: none;
}
.mid li{
    text-decoration: none;
}

.right{
    display: flex;
    justify-content: space-around;
}

.right h4{
    color:#333;
}
.left h4{
    color:#333;;
}

.right ,.left li a{
    font-size: 14px;
    transition: 1000ms all ease;
    cursor: pointer;
}

.left li a:hover{
    color: #af530a !important;
}
.right li a:hover{
    color: #af530a !important;
}


.middle{
    padding: 0px 20px 0px 20px;
    height: 100%;
    background-color: #007bb6;
    margin: auto;
    
}

.middle ul{
    padding: 0;
    color: white;
    list-style: none;
}
.middle li{
    margin: auto;
    cursor: pointer;
    margin-top: 100%;
}
.middle a{
    color: white;
    transform: 1000ms all ease;
}

.middle a:hover{
    color: #af530a !important;
} 

.right1 li{
    padding: 2%;
}

.middle{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.subFooter a{
    color: #2ea3f2;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}
.subFooter{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #f4f7fc;
}

.subFooter p{

    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

@media screen and (max-width:450px) {
    .subContainer{
        grid-template-columns: repeat(1 ,1fr);
    }
}