.skeleton{
    display: flex;
    flex-wrap: wrap;
}
.skelotonMain {
    height: 300px;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
}

.animation {
    animation: skeleton-animation 3s linear ease-in-out;
}

@keyframes skeleton-animation {
    0% {
        /* background-color: hsl(200, 20%, 50%); */
        background-color: hsl(180, 1%, 30%);
        transition: 3s;
    }

    50% {
        background-color: hsl(200, 2%, 64%);
        /* background-color: hsl(200, 20%, 70%); */
        transition: 3s;
    }

    100% {
        /* background-color: hsl(200, 20%, 95%); */
        background-color: hsl(180, 1%, 30%);
        transition: 3s;
    }
}