.container {
    background: #fff;
}

.bgimg {
    height: 20rem;
    width: 100%;
    background-image: linear-gradient(180deg, #0477bf 0%, rgba(5, 9, 255, 0.5) 99%), url(../assets/images/asset\ 28.jpg);
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.content {
    margin-top: 7rem;
}

.title {
    font-weight: 700;
    font-size: .9rem;
    margin: 0;
    padding: 0;
}

.text {
    margin: 0;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 700;
}

.imgscroll {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding-top: 4rem;
    flex-direction: column;
}

.img {
    position: relative;
    height: 90%;
    width: 80%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    border-width: 2px;
    border-color: #0C71C3;
    border: 2px solid #0C71C3;
}

.img img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.img img {
    -webkit-transition: all 10s;

}

.img img:hover {
    transform: translateY(-90%);
    margin-top: 320px;
}

.link {
    text-decoration: none;
    margin-top: 20px;
    color: #0C71C3;
    font-weight: 600;
    font-size: 1rem;
}

.row {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-wrap: wrap;
}

.col {
    min-width: 80%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colmd1 {
    display: flex;
    width: 50%;
    text-align: center;
    font-size: .8rem;
}

.colmd2 {
    height: 5rem;
    width: .6rem;
    background: #0C71C3;
}

.colmd3 {
    width: 40%;
    font-size: .8rem;
    text-align: center;
}

.colmd1 span {
    padding-left: 70px;
    padding-right: 10px;
    text-align: justify;
}

.colmd3 span {
    text-align: justify;
    padding: 0 35px;
}

.colmd3 p {
    text-align: start;
    padding: 0 35px;
    color: #0C71C3;
    font-weight: 600;
}

@media only screen and (max-width: 950px) {
    .col {
        flex-direction: column;
    }

    .colmd1 {
        margin-bottom: 20px;
        width: 80%;
    }

    .colmd3 {
        margin-bottom: 20px;
        width: 80%;
        padding: 10px 0;
    }
    .imgscroll {
        width: 100%;
        height: 50vh;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        padding-top: 4rem;
        flex-direction: column;
    }
    .row{
        padding: 6rem 0;
    }
}

@media only screen and (max-width: 500px) {
    .imgscroll {
        width: 100%;
        height: 25vh;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        padding-top: 4rem;
        flex-direction: column;
    }
    .row{
        padding: 8rem 0;
    }
}