
.container{
    height: 100vh;
    background-color: white;
}
.container p{
    margin-top: 4%;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    padding-top: 4%;
}

.container h2{
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color:#000000de;
    width: 70%;
    margin: 0;
    margin: auto;
}

.projectContainer{
    max-width: 1750px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 5%;

}

.project{

    width: 29%;
    height: 100%;
    background-color: transparent;
}

.projectImage{
    position: relative;
    height: 75%;
    width: 98.7%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    border-width: 2px;
    border-color: #0C71C3;
    border: 2px solid #0C71C3;
}

.Image{
    height: auto;
    max-width: 100%;
    width: 100%;
}

.projectImage img{
    -webkit-transition: all 10s;
    
}
.projectImage img:hover{
    transform: translateY(-100%);
    margin-top: 320px;
}

.project p{
    font-size: 14px;
    padding: 0;
    color: black;
    line-height: 1.7em;
    font-weight: 600;
    text-align: left;
}

.project a{
    color: #0477bf !important;
    border-width: 0px !important;
    border-radius: 0px;
    font-weight: 600 !important;
    padding-right: 2em !important;
    background-color: RGBA(255,255,255,0);
}
.skelotonMain{
    height: 300px;
    width: 300px;
}
@media screen and (max-width:800px) {
    .container{
        padding-bottom: 10rem;
    }
}