
.container{
    height: 100vh;
}
.container p{
    font-weight: 600;
    text-transform: uppercase;
}

.container h2{
    font-weight: 700;
    font-size: 38px;
    text-align: left;
    color:#000000de;
    width: 70%;
    margin: 0;
}