.container {
    background-color: #f4f7fc;
    margin: 0;
    width: 100%;
    margin: 100px 0;
}

.steptext {
    font-size: 40px;
    font-weight: 700;
    color: #0477bf;
}

.steps {
    padding: 0 50px;
    /* width: 90%; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;
}

.step {
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 150px;
    padding: 5px 0;
    width: 250px;
    padding-bottom: 15px;
    margin-top: 20px;
}

.Flow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arrow {
    font-size: 100px;
}

.workflow {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
}
.text h1{
    padding: 0;
    margin: 0;
}
.step1 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 80%;
    text-align: center;
}

.arrowimg1 {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    position: absolute;
    right: -95px;
    width: 200px;
}

.arrowimg2 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    top: 90%;
    right: 75px;
    width: 140px ;
}

.arrowimg3 {
    -webkit-transform: rotate(250deg);
    -moz-transform: rotate(250deg);
    -o-transform: rotate(250deg);
    -ms-transform: rotate(250deg);
    transform: rotate(250deg);
    position: absolute;
    top: -117px;
    right: 115px;
    width: 140px ;
}

.arrowimg4 {
    -webkit-transform: rotate(170deg);
    -moz-transform: rotate(170deg);
    -o-transform: rotate(170deg);
    -ms-transform: rotate(170deg);
    transform: rotate(170deg);
    position: absolute;
    right: 265px;
    top: 25px;
    width: 200px;
}

@media only screen and (max-width:1450px){
    .work img{
        display: none;
    }
}
@media only screen and (max-width:1080px){
    .work img{
        display: none;
    }
}
@media only screen and (max-width:850px){
    .workflow {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
    }
}