@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;500&display=swap");

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    color: #666;
}
.swiper{
    height: 100%;
}

.logo{
    width: 25%;
    height: 100%;
}

.Image{
    height: auto;
    max-width: 100%;
    width: 100%;
}

img{
    max-width: 100%;
height: auto;
}

